@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', Arial, sans-serif;
}

#title {
    position: relative;
    margin: auto;
    width: 100%
}

#splash {
    position: absolute;
    top: 25vh;
    left: 25vw;
    width: 50vw;
    margin: auto;
}